/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #f7f8ff;
    background: #f7f8ff url('../img/melbourne.jpg') no-repeat fixed center top ;
}
.font-title {
    font-family: 'Doppio One', sans-serif;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.cf:before,
.cf:after {
    display: table;
    content: " ";
}

@keyframes flash
{
0% {color: rgba(255,255,255,0);}
20% {color: rgba(255,255,255,1);}
30% {color: rgba(255,255,255,0);}
}

@-webkit-keyframes flash /* Safari and Chrome */
{
0% {color: rgba(255,255,255,0);}
20% {color: rgba(255,255,255,1);}
30% {color: rgba(255,255,255,0);}
}

@keyframes hover-btn
{
    0% {margin: 20px 0 0 0;}
    50% {margin: 18px 0 0 -2px;}
}

@-webkit-keyframes hover-btn
{
    0% {margin: 20px 0 0 0;}
    50% {margin: 18px 0 0 -2px;}
}
@keyframes hover-nav
{
     0% {background-color: rgba(255,255,255,0); color:#444;}
   100% {background-color: rgba(58,182,15,1); color:#fff;}
}

@-webkit-keyframes hover-nav
{
   0% {background-color: rgba(255,255,255,0); color:#444;}
   100% {background-color: rgba(58,182,15,1); color:#fff;}
}

#section-a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#section-b {
    position: fixed;
    width: 100%;
    height: 500px;
    top: 10%;
    z-index: 1;
}
#section-c {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 180%;
    background-color: #f0f4ff;
    padding-top: 70px;
}

.title {
    text-align: center;
    color: #fff;
    background-color: #26556b;
    padding: 20px 0 50px 0;
}
.title object {
    width:60%;
    height:70%;

}

.title h1 {
    margin-top: -20px;
    padding-top: 0;
    font-size: 180px;
}

.icon-dot-1,
.icon-dot-2,
.icon-dot-3 {
    color: rgba(255,255,255,0);
    font-size: 15px;
    display: block;
}
.icon-dot-1 {
   animation: flash 1s linear 0 infinite;
    -webkit-animation: flash 3s linear 0 infinite;
}
.icon-dot-2 {
   animation: flash 1s linear 0.5s infinite;
    -webkit-animation: flash 3s linear 0.3s infinite;
}
.icon-dot-3 {
   animation: flash 1s linear 1s infinite;
    -webkit-animation: flash 3s linear 0.6s infinite;
}

.icon-next {
    color: #fff;
    padding-top: 10px;
    font-size: 60px;
}

.navigation {
    position: absolute;
    left: 90%;
    top: 80%;
    z-index: 1000;
}

.location {
    margin: 0 auto;
    text-align: center;
    width: auto;
    background-color: #8beb2b;
    padding: 50px;
    font-size: 60px;
}
.date {
    background-color: #26556b;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.date-seperator {
    background-color: #8beb2b;
    font-size: 70px;
    text-align: center;
    padding: 10px 0;
}
.nav-main {
    text-align: center;
    padding: 0;
    font-size: 40px;
    line-height: 120px;
    margin-top: 20px;
    cursor: pointer;
}
.nav-main:hover {

     animation: hover-btn 0.5s linear;
    -webkit-animation: hover-btn 0.5s linear;
}
#section-c a:hover {
    text-decoration: none;
}
.nav-main i {
    background-color: #fff;
    padding: 40px;
    float: right;
    color: #444;
}
.nav-a,
.nav-b,
.nav-c {
    background-color: #26556b;
    color: #fff;
}
.nav-d {
    background-color: #8b41b1;
    color: #fff;
    height: 240px;
    line-height: 230px;
    font-size:70px;
}
.nav-e {
    background-color: #8beb2b;  
    color: #444;
    height: 240px;
    line-height: 230px;
    font-size:70px;
}
.nav-d i,
.nav-e i {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size:40px;
}
.nav-f {
    background-color: #26556b;  
    height: 50px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}
.nav-f i {
     padding: 15px;
}

@media screen and (max-width: 768px){
    .title h1 {
        margin-top: -100px;
        font-size: 50px;
    }
    .location {
        font-size: 20px;
        padding: 10px;
    }
    .date {
        padding: 40px 0;
    }
    .date-seperator {
        font-size: 30px;
    }
}

.content-container {
   background-color: #f7f8ff;
   margin-top: 20px;
   padding-top: 0;
}
.top-nav {
    background-color: #8beb2b;
    padding: 10px;
    font-size: 24px;
    margin-left: -15px;

}
.content-container a {
    color: #333;
}
.content-container a:hover {
   text-decoration: none;
}
.top-nav:hover {
    cursor: pointer;
    background-color: #3ab60f;
    color:#fff;
     animation: hover-nav 0.3s linear;
    -webkit-animation: hover-nav 0.3s linear;
}
.top-nav:after {
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    margin-left: -42px;
    position: absolute;
    top: 0px;
    left: 100%;
    background-color: #fff;
    padding: 15px 15px 14px 15px;
}
.top-nav--selected {
    background-color: #8b41b1;
    color: #fff;
}
.logo-container {
    height: 140px;
    background-color: #26556b; 
    padding-top:20px;
}
.logo-container object {
    height: 100px;
    vertical-align: middle

}
.logo-text {
    font-size: 50px;
    color: #fff;
}
.logo-sub {
    font-size: 20px;
    color: #fff;
}

.content-container h1 {
    text-align: center;
    font-size: 50px;
}

.player-img img{
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 10px;
}

.player-img.confirmed img {
    border: 1px solid #007c1e;
}
.player-confirmed {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #007c1e;
    display: inline-block;
    margin-right: 10px;
}
.player-bio {
    background-color: #fff;
    border: 1px solid #dfdfdf;
}
.player-bio-container {
    margin-bottom: 40px;
    min-height: 220px;
}
.player-bio h3 {
    font-weight: 700;
}

.previous-sadlans div {
    margin: 20px 0;
    padding: 3px 10px;
    background-color: #eee;
    color: #ccc;
    display:inline-block;
    width: 30px;
    height: 30px;
    font-size: 18px;
}
.previous-sadlans div.yes {
    background-color: #26556b; 
    color: #fff;

}

.footer {
    height: 80px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
